        @font-face {
          font-family: "Poppins";
          src: url("./assets/font/Poppins-Medium.otf");
        }
        @font-face {
          font-family: "Poppins";
          src: url("./assets/font/Poppins-Bold.otf");
          font-weight: bold;
          font-style: normal;
        }
      
      body {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-family: "Poppins";
        display: flex;
        flex-direction: column;
        font-size: 1.5em;
        
        /* display: flex;
        flex-direction: column; */
        /* align-items: space-evenly; */
        height: 100vh;
        /* margin-top: 1vh; */
        margin-left: 5vw;
      }

      model-viewer {
        width: 80%;
        height: 50%; /* Ensures it takes 50% of the screen height */
        min-height: 300px; /* Sets a minimum height of 300px */
        max-width: 800px; /* Sets a maximum width of 800px */
        margin: 20px 0;
        background-color: rgb(255, 255, 255);
        flex-shrink: 0; /* Prevents shrinking of the model-viewer */
      }

      a {
       font-family: "Poppins";
        font-weight: bold;
        color: black; 
        font-size: 2em;

      }

      a:visited,
      a:hover,
      a:active {
        color: black; 
        text-decoration: none;
      }

      a:hover{
        color: red;
      }


      /* .text-box {
        width: 80%; Same width as model-viewer 
        padding: 20px;
        margin: 20px 0;
        background-color: white;
        max-width: 800px;  Sets a maximum width of 800px
        color: black;
        text-align: left;
        box-sizing: border-box; Ensures padding doesn't affect width 
        margin-bottom: 20px;
      } */

      .uber {
        font-family: "Poppins";
        font-weight: bold;
        
        font-size: 2em;
       
        /* margin: 10;
        padding: 10px; */
        color: black;
      }
     

      .links{
        align-self: stretch;
      }